.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0 100px 0;
}

.top__main__hr {
    width: 100%;
    height: 1px;
    background: #EAEAEA;
    border: 0;
    margin: 0 0 32px 0;
}

.block__accessories {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1520px;
}

@media all and (max-width: 1600px) {
    .block__accessories {
        max-width: 90vw;
    }
}

.block__accessories p {
    margin: 0 0 20px 0;
    font-family: 'Gilroy-Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #A9A9A9;
}

.block__accessories p a {
    text-decoration: none;
    font-family: 'Gilroy-Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #141414;
}

.block__accessories p span {
    margin: 0 12px 0 12px;
}

.block__accessories h2 {
    margin: 0 0 16px 0;
    font-family: 'Gilroy-Medium', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #141414;
}

.block__accessories .text {
    margin: 0 0 0 0;
    max-width: 728px;
    font-family: 'Gilroy-Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #141414;
}

.block__accessories__list {
    margin: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.block__accessories__list .block__accessories__item {
    max-width: 350px;
}

.block__accessories__list .block__accessories__item .block__accessories__img {
    max-width: 350px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    cursor: pointer;
}

.block__accessories__list .block__accessories__item .block__accessories__img .item__img {
    padding: 30px 40px;
    width: 270px;
    height: 189px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.block__accessories__list .block__accessories__item .accessories__text {
    margin: 16px 0 0 0;
    max-width: 350px;
    font-family: 'Gilroy-Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #141414;
}

.block__modal__img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.9);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    z-index: 300;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.block__modal__img.open {
    opacity: 1;
    visibility: visible;
}

.block__modal__img .block__modal__header {
    display: flex;
    height: 99vh;
    flex-direction: column;
}

.block__table {
    display: block;
}

.block__modal__img .block__modal__header .modal__table {
    margin: 0 0 0 0;
    border-collapse:collapse;
    border-bottom: 1px solid #666666;
}

.block__modal__img .block__modal__header .modal__table tr .table__close {
    border-right: 1px solid #666666;
    border-left: 1px solid #666666;
}

.block__modal__img .block__modal__header .modal__table tr {
    width: 100%;
    height: 80px;
}

.block__modal__img .block__modal__header .modal__table tr .block__button__contact {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.block__modal__img .block__modal__header .modal__table tr .modal__button__contact {
    width: 100vw;
}

.block__modal__img .block__modal__header .modal__table tr .td__mobile {
    display: none;
}

.block__modal__img .block__modal__header .block__button__contact {
    display: none;
}

.block__modal__img .block__modal__header .modal__table tr td h3 {
    min-width: 550px;
    margin: 0 28px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.block__modal__img .block__modal__header .modal__table tr td p {
    min-width: 60px;
    margin: 0 28px;
    font-family: 'Gilroy-Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.block__modal__img .block__modal__header .modal__table tr td .block__button__contact .button__contact {
    margin: 0 20px 0 0;
}

.block__modal__img .block__modal__header .modal__table tr td .accessories__modal__button__close {
    margin: 0 28px;
}

.block__modal__img .block__modal__header .modal__table tr .table__close {
    cursor: pointer;
}

.block__modal__img .block__modal__header .block__img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block__modal__img .block__modal__header .block__img p {
    display: none;
}

.block__modal__img .block__modal__header .block__img img {
    width: 994px;
    height: 704px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-radius: 4px;
}

@media all and (max-width: 1100px) {
    .block__modal__img .block__modal__header .block__img img {
        width: 900px;
        height: 614px;
    }
}

.overflow__modal__slider {
    overflow: hidden;
    overflow-block: auto;
}

@media all and (max-width: 991px) {
    .main {
        margin: 56px 0 48px 0;
    }

    .top__main__hr {
        display: none;
    }

    .block__accessories {
        margin: 24px 0 0 0;
        max-width: 550px;
    }

    .block__accessories p {
        margin: 0 0 12px 0;
        font-size: 14px;
        line-height: 18px;
    }

    .block__accessories h2 {
        margin: 0 0 12px 0;
        font-size: 28px;
        line-height: 32px;
    }

    .block__accessories .text {
        margin: 0 0 20px 0;
        max-width: 100%;
        width: 100%;
        font-size: 14px;
        line-height: 22px;
    }

    .block__modal__slider__img .block__modal__header .modal__table {
        width: 100%;
    }

    .block__modal__img .block__modal__header .modal__table tr {
        display: flex;
        width: 100vw;
        height: 52px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .block__modal__img .block__modal__header .modal__table tr .table__close {
        border: 0;
    }

    .block__modal__img .block__modal__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .block__modal__img .block__modal__header .block__button__contact {
        margin: 0 0 24px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .block__modal__img .block__modal__header .modal__table tr .modal__button__contact {
        display: none;
    }

    .block__modal__img .block__modal__header .modal__table tr .td__desktop {
        display: none;
    }

    .block__modal__img .block__modal__header .modal__table tr .td__mobile {
        display: block;
    }

    .block__modal__img .block__modal__header .modal__table tr td h3 {
        min-width: 0;
        max-width: 100%;
        margin: 0 0 0 20px;
        font-size: 14px;
        line-height: 18px;
    }

    .block__accessories__list {
        margin: 0 0 0 0;
        gap: 10px;
    }

    .block__accessories__list .block__accessories__item {
        margin: 0 0 10px 0;
        max-width: 170px;
    }

    .block__accessories__list .block__accessories__item .block__accessories__img {
        max-width: 100%;
    }

    .block__accessories__list .block__accessories__item .block__accessories__img .item__img {
        width: 142px;
        height: 100px;
        padding: 10px 14px;
    }

    .block__accessories__list .block__accessories__item .accessories__text {
        margin: 12px 0 0 0;
        max-width: 100%;
        font-size: 14px;
        line-height: 18px;
    }

    .block__modal__img .block__modal__header .block__img img {
        width: 350px;
        height: 248px;
    }

    .block__modal__img .block__modal__header .block__img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .block__modal__img .block__modal__header .block__img p {
        display: block;
        margin: 16px 0 0 0;
        font-family: 'Gilroy-Light', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
}

@media all and (max-width: 600px) {
    .block__accessories {
        max-width: 350px;
    }
}

@media all and (max-width: 390px) {
    .block__modal__img .block__modal__header .block__img img {
        width: 230px;
        height: 140px;
    }

    .block__accessories {
        max-width: 290px;
        margin: 24px 10px 0 10px;
    }

    .block__accessories__list {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}